.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header div:first-of-type {
    width: 100px;
    
}

.header div:last-of-type {
    width: 100px;
}

.header div:first-of-type .logo {
    width: 60px;
    height: 60px;
   
}

.header div:nth-child(2) {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;


}

.header div:nth-child(2) a {
    margin-right: 60px;
    color: #010101;
    text-decoration: none;
    font-size: 15px;

}

.header div:nth-child(2) a:hover {
    text-decoration: underline;
}

.header div:nth-child(2) a:last-of-type {
    margin-right: 0;

}

.header div:last-of-type a {
    background-color: black;
    color: white;
    width: 100px;
    height: 35px;
    display: block;
    text-align:center;
    line-height:35px;
    text-decoration: none;
    font-size:15px;
    font-weight:500;
}